:root {
    --black: #040404;
    --white: #FFFFFF;
	--bg-glass: rgba(255, 255, 255, 0.1);
	--bg-black-transparent: rgba(4, 4, 4, 0.9);
}
* {margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box}
html, body {color: var(--white)}
@font-face {font-family: 'C64'; src: url('../fonts/C64.eot'); src: url('../fonts/C64.eot?#iefix') format('embedded-opentype'), url('../fonts/C64.woff2') format('woff2'), url('../fonts/C64.woff') format('woff'), url('../fonts/C64.ttf') format('truetype'), url('../fonts/C64.svg#C64') format('svg'); font-weight: 500; font-style: normal; font-display: swap}

a, a:hover, a:active {
	color: var(--white); 
	text-decoration: none; 
}

.agnosia-loading {
	position: fixed; 
	top: 0; left: 0; right: 0; bottom: 0;
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.agnosia-loading-icon {
    animation: pulsate 1s infinite ease-in-out;
    background-image: url(../img/android-chrome-192x192.png);
    background-size: cover;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.agnosia-header-menu,
.agnosia-header-info {
	position: fixed; top: 0; width: 100%; font-size: 24px; display: flex; justify-content: center; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5), 1px -1px 0 rgba(0,0,0,0.5), -1px 1px 0 rgba(0,0,0,0.5), 1px 1px 0 rgba(0,0,0,0.5); 
	z-index: 100000; 
}

.agnosia-header-info {
	text-align: center; 
	z-index: 100001;
}

.agnosia-header-menu span {
	margin: 0 5px 0 5px; 
}

.agnosia-header-menu a:hover,
.agnosia-header-menu a:active {
	color: rgb(255,215,0); 
}

#tcg_base, .agnosia-header-menu {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

html, #desk {
	width: 100%; height: 100%;
	background: var(--black);
}

#desk {
	background: radial-gradient(circle at center, transparent, black 80%) no-repeat, 
                url(../img/agnosia.gif) no-repeat center center/cover; 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Scale some elements */
.not-mobile .tcg_base_menu,
.not-mobile .tcg_base_main,
.not-mobile .tcg_base_gameplay_wrapper,
.not-mobile .tcg_base_modal {
    transform: scale(1.2); 
}

.is-mobile .tcg_base_menu,
.is-mobile .tcg_base_main,
.is-mobile .tcg_base_gameplay_wrapper,
.is-mobile .tcg_base_modal {
    transform: scale(0.6); 
}

.is-mobile .tcg_base_content_inner {
	display: flex; 
	justify-content: start; 
}

.is-mobile .tcg_base_content_inner .tcg_base_menu {
	transform-origin: right; 
	margin-right: 25px; 
}

.is-mobile .tcg_base_content_inner .tcg_base_main {
	transform-origin: left; 
}

.tcg_base_menu {
	/*margin-right: 50px; 
	transform-origin: right;*/
}

.tcg_base_main {
	/*transform-origin: left;*/
}

/* Flex boxes */
.flex-box 			{display: flex}
.col                {flex-direction: column}
.space-between      {justify-content: space-between}
.space-evenly		{justify-content: space-evenly}
.space-around		{justify-content: space-around}
.center-vertical    {align-items: center}
.flex-center        {align-items: center; justify-content: center}
.align-center		{align-items: center}
.flex-end           {justify-content: flex-end}

.white				{color: white}
.grey				{color: grey}
.C64 				{font-family: "C64", monospace}
.no-overflow		{overflow: hidden}
.no-pointer-events  {pointer-events: none}
.disabled           {opacity: 0.5; pointer-events: none; cursor: default}
.hidden             {display: none}

/* Layouts */
.absolute 			{position: absolute}
.relative			{position: relative}
.left				{left: 0}
.right 				{right: 0}
.bottom				{bottom: 0}
.top				{top: 0}
.full-height		{height: 100%}
.full-width			{width: 100%}
.text-align-center	{text-align: center}



.console {
    overflow-y: hidden;
    z-index: 998;
}

.template-loading-outer {
	position: absolute;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
}

.template-loading-inner {
	width: 32px;
    height: 32px;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.desktop-icon-container {
	width: 80px; height: 80px; 
	position: absolute;
	top: calc(50% - 80px / 2);
	left: calc(50% - 80px / 2);
}

.desktop-icon {
    width: 60px;
    height: 60px;
}

.notify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: var(--bg-black-transparent);
	border: 3px solid rgb(30, 50, 62);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
    position: absolute;
    opacity: 0;
	top: -140px; 
    right: 10px;
    width: 250px;
    height: 140px; 
    transition: all 0.3s;
    z-index: 1000; 
}

.notify-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify-btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.notify-icon {
    width: 64px;
    height: 64px;
    background-image: url(../img/info.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.notify-msg-wrapper {
    display: flex;
    flex-direction: column;
	height: 100%; 
	justify-content: center; 
}

.notify-msg {
	font-size: 110%; 
	color: rgb(79, 142, 185); 
}

.notify-msg input {
    padding: .15rem;
    outline: none;
    width: 100%;
    color: white;
    background: var(--indigo-dark);
    border-left: 2px solid var(--black);
    border-top: 2px solid var(--black);
    border-right: 2px solid var(--indigo);
    border-bottom: 2px solid var(--indigo)
}

.notify-btn,
.error-btn {
    cursor: default;
    text-align: center;
    outline: 0;
	color: rgb(166, 255, 152);
	text-shadow:
		-1px -1px 0 rgba(0,0,0,0.5),
		1px -1px 0 rgba(0,0,0,0.5),
		-1px 1px 0 rgba(0,0,0,0.5),
		1px 1px 0 rgba(0,0,0,0.5); 
}

.error-box {
	width: 300px;
    height: 175px;
    position: absolute;
    top: calc(50% - 87.5px);
    left: calc(50% - 150px);
    border: 3px solid rgb(30, 50, 62);
    z-index: 10000;
    background: 3px 3px var(--bg-black-transparent);
    box-shadow: 3px 3px var(--bg-black-transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-icon-wrapper {
	position: absolute;
    top: 20px;
    left: 10px;
}
.error-icon {
	width: 50px;
    height: 50px;
    background-image: url(../img/skull.png);
}
.error-msg-wrapper {
    position: absolute;
    top: 10px;
    left: 60px;
    margin-right: 10px;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    display: flex;
}
.error-btn {
	font-size: 95%;
    width: 50px;
    height: 40px;
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.error-msg {
	overflow-wrap: anywhere; 
}

.consoleHeader .icon {
    margin-right: .5rem;
    height: calc(16px + .5em);
    width: calc(16px + .5em);
}